<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sierra -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.sirius.sample.sierra.presentation.SierraModelWizardID"
            name="%_UI_SierraModelWizard_label"
            class="org.eclipse.sirius.sample.sierra.presentation.SierraModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SierraModelFile.gif">
         <description>%_UI_SierraModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sierra -->
      <editor
            id="org.eclipse.sirius.sample.sierra.presentation.SierraEditorID"
            name="%_UI_SierraEditor_label"
            icon="icons/full/obj16/SierraModelFile.gif"
            extensions="sierra"
            class="org.eclipse.sirius.sample.sierra.presentation.SierraEditor"
            contributorClass="org.eclipse.sirius.sample.sierra.presentation.SierraActionBarContributor">
      </editor>
   </extension>

</plugin>
